@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;
    overflow: hidden;

    background: #21E8E5;
}

.polygon {
    position: absolute;
width: 634.62px;
height: 1150.92px;
left: -196.41px;
top: 68.82px;

background: #5739D6;
transform: rotate(-39.7deg);
}

.trueBlood {
    position: absolute;
    width: 301px;
    height: 330px;
    left: 59px;
    top: 133px;
}

.title {
    position: absolute;
    width: 394px;
    height: 132px;
    left: 19px;
    top: 538px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;

    text-align: right;

    color: #FFFFFF;
}

.titleContainer {
    position: absolute;
    width: 394px;
    height: 132px;
    left: 19px;
    top: 538px;
}

.button {
    position: absolute;
    width: 276px;
    height: 76px;
    left: 78px;
    top: 754px;

    background: #FFFFFF;
}

.text {
    position: absolute;
    width: 121px;
    height: 72px;
    left: 155px;
    top: 754px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;

    text-align: center;

    color: #282828;
}