.unicornDust{
    position: absolute;
    width: 255px;
    height: 273px;
    left: -42px;
    top: -36px;
}

.sparkles {
    position: absolute;
    width: 451.36px;
    height: 476.72px;
    left: 47px;
    top: -115px;
}

.trueBlood {
    position: absolute;
    width: 301px;
    height: 330px;
    left: 147px;
    top: 166px;
}