@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: #FFE84A;
}

.polygon {
    position: absolute;
    transform: rotate(25deg) translate(280px, 70px);
    width: 1009px;
    height: 1082px;
    left: -113px;
    top: -93px;

    background: #FF86B3;
}

.button {
    position: absolute;
    width: 276px;
    height: 76px;
    left: 71px;
    top: 828px;
    border: none;

    background: #FFFFFF;
}

.buttonText {
    position: absolute;
    width: 121px;
    height: 72px;
    left: 148px;
    top: 828px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;

    text-align: center;

    color: #282828;
}

.propsOne {
    position: absolute;
    width: 99px;
    height: 72px;
    left: 292px;
    top: 592px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.propsTwo {
    position: absolute;
width: 373px;
height: 144px;
left: 32px;
top: 646px;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 72px;
/* or 75% */

text-align: center;

color: #FFFFFF;
}