@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;

    background: #FFE84A;
}

.trueBlood {
    position: absolute;
    width: 301px;
    height: 330px;
    left: 59px;
    top: 133px;
}

.sparkles {
    position: absolute;
    width: 451.36px;
    height: 476.72px;
    left: 7px;
    top: 42px;
}

.title {
    position: absolute;
width: 229px;
height: 72px;
left: 104px;
top: 549px;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 72px;
/* identical to box height, or 180% */

text-align: center;

color: #FFFFFF;
}