.container {
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;
    overflow: hidden;

    background: #FF86B3;
}

.titleOne {
    position: absolute;
left: 28.5%;
right: 17.76%;
top: 14.69%;
bottom: 77.54%;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 72px;

text-align: center;

color: #FFFFFF;
}

.titleTwo {
    position: absolute;
left: 42.29%;
right: 19.16%;
top: 19.98%;
bottom: 72.25%;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;
}

.titleThree {
    position: absolute;
left: 22.9%;
right: 19.16%;
top: 25.81%;
bottom: 66.41%;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 72px;
/* identical to box height, or 75% */

text-align: center;

color: #FFFFFF;
}

.skyShaped {
    position: absolute;
    left: -31.31%;
    right: 71.5%;
    top: 69.01%;
    bottom: 3.56%;    
}

.unicornDust {
    position: absolute;
    width: 275px;
    height: 325px;
    left: 248px;
    top: 763px;    
}

.applePay {
    position: absolute;
    width: 276px;
    height: 76px;
    left: 76px;
    top: 387px;
    
    background: #FFFFFF;
}

.applePayLogo {
    position: absolute;
    width: 122px;
    left: 80px;
    top: -23px;
}

.googlePay {
    position: absolute;
    width: 276px;
    height: 76px;
    left: 76px;
    top: 504px;
    
    background: #FFFFFF;
}

.googlePayLogo {
    position: absolute;
    left: 75px;
    top: -27px;
}