@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;

    background: #21E8E5;
}

.menuTitleOne {
    position: absolute;
left: 68.46%;
right: 8.41%;
top: 6.16%;
bottom: 86.07%;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}

.menuTitleTwo {
    position: absolute;
    left: 24.53%;
    right: 8.41%;
    top: 11.99%;
    bottom: 80.24%;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 72px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.skyShaped {
    position: absolute;
    left: 61.68%;
    right: 7.94%;
    top: 25.81%;
    bottom: 60.15%;
}

.marbleMagic {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 264px;
    top: 410px;
}

.trueBlood {
    position: absolute;
    left: 62.85%;
    right: 6.78%;
    top: 63.5%;
    bottom: 22.46%;
}

.unicornDust {
    position: absolute;
    width: 118px;
    height: 130px;
    left: 270px;
    top: 759px;
}

.skyShapedTitle {
    position: absolute;
    left: 17.99%;
    right: 46.96%;
    top: 28.73%;
    bottom: 63.07%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 38px;

    text-align: right;

    color: #FFFFFF;
}

.marbleMagicTitle {
    position: absolute;
    left: 17.99%;
    right: 46.96%;
    top: 47.19%;
    bottom: 44.6%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 38px;

    text-align: right;

    color: #FFFFFF;
}

.trueBloodTitle {
    position: absolute;
    left: 21.03%;
    right: 48.36%;
    top: 66.41%;
    bottom: 25.38%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 38px;

    text-align: right;

    color: #FFFFFF;
}

.unicornDustTitle {
    position: absolute;
    left: 11.92%;
    right: 46.96%;
    top: 84.88%;
    bottom: 6.91%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 38px;

    text-align: right;

    color: #FFFFFF;
}